@define-color accent red;

*:focus {
	outline: none;
}
notebook *, .user-input *, messagedialog *, window * {
	all: unset;
	color: white;
	background: #0f0f0f;
	border: black;
}
notebook label, .user-input label, messagedialog label, window label {
	background: transparent;
}
notebook button, .user-input button, messagedialog button, window button {
	border-style: solid;
	border-width: 1px;
	border-image: linear-gradient(to right, black, black) 30;
	background: #0f0f0f;
	box-shadow: 0px 0px 5px black;
	padding: 10px;
	margin: 2px 0px;
}

window list button {
	background: #0f0f0f,
	linear-gradient(to right, @accent, black 0%) 5px calc(100% - 5px) / calc(100% - 10px) 1px no-repeat;
}

notebook button:focus,.user-input button:focus, messagedialog button:focus, window button:focus {
	border-image: linear-gradient(to right, @accent, black 10%) 1;
}
notebook button:active, .user-input button:active, messagedialog button:active, window button:active {
	transition: border .2s;
	border-image: linear-gradient(to right, @accent, @accent) 1;
	box-shadow: none;
}

window list {
	background: black;
	padding: 0px 8px;
}

window list > row {
	background: black;
}

notebook undershoot.top, window undershoot.top {
	background: none;
	border-width: 1px;
	border-style: solid;
	border-image: linear-gradient(to bottom, @accent, transparent 50%) 1;
}
notebook undershoot.bottom, window undershoot.bottom {
	background: none;
	border-width: 1px;
	border-style: solid;
	border-image: linear-gradient(to top, @accent, transparent 50%) 1;
}

notebook overshoot, window overshoot {
	background: none;
}

.user-input list {
	margin: 10px;
}
.user-input list > row {
	border: 1px solid black;
	padding: 5px;
}
.user-input list > row:selected {
	border-image: linear-gradient(to right, black, @accent 10%, @accent 90%, black) 1;
}
.user-input list > row:hover {
	background: #0d0d0d;
}
notebook {
	margin: 5px;
}
notebook{
	border: none;
}
notebook stack {
	border: 2px solid black;
	border-top: none;
}
notebook tab {
	padding: 5px 10px;
	background: #080808;
	border: 2px black solid;
	
}
notebook tab:checked {
	border: 2px solid black;
	border-bottom: 0px;
	background: #0f0f0f;
	border-image: linear-gradient(to bottom, @accent ,black 20%) 1;
}
notebook tabs {
	box-shadow: inset 0px -2px black
}
notebook menuitem {
	padding-left: 10px;
	margin-top: 5px;
}
notebook menu * {
	background: transparent;
}
notebook menu {
	box-shadow: inset 0px 0px 5px black;
}
notebook button.combo {
	box-shadow: inset 0px 0px 5px black;
	border: none;
}

notebook switch slider {
	background-color: #0f0f0f;
	box-shadow: 0px 0px 5px black;
	border: 1px solid black;
	}
notebook switch {
	border: solid 1px black;
	transition: none;
}

notebook entry {
	box-shadow: inset 0 0 5px black;
	padding: 10px
}

notebook checkbutton check {
	padding: 2px;
	margin-right: 10px;
	box-shadow: inset 0 0 3px black;
	color: @accent;
}
